/* Importa il font "Rubik" da Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

* {
    color: white;
    font-family: 'Rubik', sans-serif;
    text-shadow: 2px 2px 2px black;
    cursor: url("../immagini/puntatore.png"), auto;
}

body {
    background-color: rgb(14, 10, 10, 0.95);
    border: 2px solid #4e36db;
}

img {
    max-width: 90%;
    vertical-align: top;
}

header {
    padding: 15px;
}

footer {
    padding: 20px;
    position: relative;
}

footer a, .box img {
    padding: 10px;
}

footer p, h1, .box p, .titolo, .titoloGrande, .container, .navbar a {
    text-align: center;
}

p {
    text-align: justify;
}

a:hover {
    color: yellow;
}

a {
    text-decoration: none;
}

/* Animazione */
@keyframes glow {
    from {
      box-shadow: 0 0 10px -10px black;
    }
    to {
      box-shadow: 0 0 10px 10px yellow;
    }
}

/* Mostra l'animazione quando si passa sopra il box con immagine e nome del personaggio */
.box:hover{
    animation: glow 0.7s infinite alternate;
}

.box, .gruppo {
    border-radius: 20px;
}

.box {
    max-width: 20%;
    display: inline-block;
}

.box p {
    padding: 5px;
}

.gruppo {
    size: 200%;
    display: block;
    float: left;
    padding: 15px;
}

.sfondo {
	background-image: url("../immagini/logo.png");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;	
}

.titolo {
    font-size: 32px;
}

.titoloGrande {
    font-size: 40px;
}

.container {
    background-color: rgb(24, 21, 21, 0.8);
    box-sizing: border-box;
}

.testo {
    font-size: 18px;
    padding: 0px 15px 0px 15px;
}

/* Menu laterale */
.navbar {
    overflow: hidden;
}
  
.navbar a {
    float: right;
    font-size: 16px;
    padding: 14px 16px;
    text-decoration: none;
}
  
.menu {
    float: right;
    overflow: hidden;
}
  
.menu .pulsante {
    font-size: 16px;
    border: none;
    outline: none;
    background-color: rgb(24, 21, 21, 0.9);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.contenuto-menu {
    display: none;
    position: absolute;
    background-color: rgb(24, 21, 21, 0.9);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.contenuto-menu a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.menu:hover .contenuto-menu {
    display: block;
}

.pulsante:hover {
      color: yellow;
}

/* Responsive */
@media only screen and (max-width: 800px) {
    img {
        max-width: 70%;
    }
    .box {
        max-width: 30%;
    }
}

@media only screen and (max-width: 600px) {
    img {
        max-width: 60%;
    }
    .box {
        max-width: 40%;
    }
}
