@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    font-family: 'Inter', 'sans-serif';
    text-shadow: 2px 2px 2px black;
    text-align: center;
}

html {
    background: linear-gradient(145deg, rgb(50, 0, 96) 0%, rgb(67, 46, 12) 25%, rgb(4, 60, 7) 50%, rgb(67, 86, 0) 75%);
    background-attachment: fixed;
    height:100%;
}

body {
    font-size: 18px;
    color: white;
}

h1 {
    font-size: 44px;
}

ul {
    padding: 0px;
}

ul.foot > li {
    display: inline-block;
}

a {
    color: rgb(0, 255, 174);
    text-decoration: none;
}

img.logo {
    height: 65px;
    width: 65px;
    filter: drop-shadow(3px 3px 3px black);
}
