@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    font-family: 'Inter', 'sans-serif';
    text-shadow: 2px 2px 2px black;
    text-align: center;
}

html {
    background: linear-gradient(145deg, rgba(255,163,0,1) 0%, rgb(171, 109, 0) 25%, rgb(113, 72, 0) 50%, rgb(75, 46, 0) 75%);
    height:100%;
}

body {
    font-size: 18px;
    color: white;
}

h1 {
    font-size: 44px;
}

ul.foot > li {
    display: inline-block;
    padding: 5px 10px 5px 10px;
}

ul {
    padding: 0px;
}

a {
    color: rgb(225, 225, 0);
    text-decoration: none;
}
